#root{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3FA57A;
}

.MenuCard{
    width: 90%;
    max-width: 450px;
    height: 300px;
    margin: 20px;
    background-size: cover;
}

.Card{
    width: 90%;
    max-width: 450px;
    height: 150px;
    margin: 20px;
    background-color: white;
}